extends ./include/layout
include ./include/mixin
block own_style
    link(rel = 'stylesheet', href = 'css/project.css')
    script(src = './js/Project.min.js')
block content
    +scroll
    main.por.google.banner-info
        section.introBox
            .left.wow.fadeInUp(style={opacity:0})
                h3 
                    span.break Chinese New Year 
                    span.break with Google
            .right.wow.fadeInUp(style={opacity:0})
                .intro
                    h4 Description
                    p 
                        span.break In the Chinese new year of 2016, Google Taiwan created a website with an online Kongming lantern. User can make a wish on the mobile phone with the digital Kongming lantern to pass the happiness.
                        span.break The banner design is in red of the Chinese New Year. The character style is the flat design. The whole is full of blessings and new visions.
                .intro
                    h4 Information
                    ul
                        li
                            span Project
                            span Chinese New Year 
                                span.break-bn with Google
                        li
                            span Client
                            span Google Taiwan
                        li
                            span Year
                            span 2016
                        li
                            span Role
                            span GDN Banner Design
        section.banner.introBox
            ul
                li.bn.wow.fadeInUp(style={opacity:0})
                    +gif('google_bn')
                li.yt.wow.fadeInUp(style={opacity:0})
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/ANcjpTUIajo' frameborder='0' allowfullscreen></iframe></div>
        +switchBox('eva-wifi','one-more')