include ./mixin
.about.animated.fadeInLeft(style="display:none")
    a(href="#").close close 
    .bg
    .content
        .pic
            +jpg('profile')
            +scroll
        .profile
            h2 #LicheeYeh
            p Hey, I'm Lichee, digital desinger based in Taipei. 
            p Worked on a variety of projects including : graphic design, web design, corporate identity branding, UI/UX and so on.
            p My goal is to make better and creative solution. Looking forward to working in a creative team. Feel free to say hi!
            .histroy
                .box
                    ul
                        li.sub Experience
                        li.detail
                            ul
                                li 
                                    span.time 2014/04 - 2018/10
                                    span 
                                        span.break Webgene - Senior Digital Designer
                                        span.break.gray Responsible for online event and official website planning and design and social media banner design. 
                                        span.break.gray Creating wireframes and mockups to communicate scenarios and options.
                                li.experienceBox
                                    span.time 2012/11 - 2014/04 
                                    span
                                        span.break Dot Han I.M.C. - Desinger
                                        span.break.gray Worked on the visual design of branding activities, graphic design and print.
                .box
                    ul
                        li.sub Education
                        li.detail
                            ul
                                li 
                                    span.time 2008/09 - 2011/06
                                    span 
                                        span.break Tamkang University 
                                        span.break.gray BFA Communication and Information
                .box
                    ul
                        li.sub What I do
                        li.detail
                            ul
                                li Web Design 
                                li UI/UX Design
                                li Visual Design
                .box
                    ul
                        li.sub Skills
                        li.detail
                            ul
                                <li>Photoshop, Illustrator, Sketch</li>
                                <li>CSS3, HTML5, RWD, Scss , Pug</li>
                                <li>VS code, Sublime, Invision, Zeplin, Github</li>

                .box
                    ul
                        li.sub Contact
                        li.detail
                            ul
                                <li>+886-928-135-451</li>
                                li
                                    a(href="mailto:yehcyamm@gmail.com").mail yehcyamm@gmail.com                               