extends ./include/layout
include ./include/mixin
block own_style
    link(rel = 'stylesheet', href = 'css/project.css')
block afterBody

block content
    +scroll
    main.por.eva-fool
        section.introBox
            .left
                h3 
                    span.break 長榮航空
                    span.break 機場地勤才藝班
                a(href="https://www.facebook.com/evaairwayscorp.tw/posts/770880023059183" target='_blank') 
                    span VIEW WEBSITE
                    span.arrow
            .right
                .intro
                    h4 Description
                    p 
                        span.break 第一期的「地勤才藝班」將於桃園機場的長榮貴賓室 隆重登場！
                        span.break 2017 年愚人節與長榮航空攜手推出『機場地勤才藝班』，再次讓長榮獲得了不錯的新聞版面！
                        span.break 插畫以簡單的線條呈現，淡淡的背景，凸顯人物的動作，希望以簡單的畫面內容搏君一笑。
                .intro
                    h4 Information
                    ul
                        li
                            span Project
                            span 長榮航空 機場地勤才藝班
                        li
                            span Client
                            span EVA AIR
                        li
                            span Year
                            span 2017
                        li
                            span Role
                            span 
                                span.break Facebook Banner Design
                                span.break Illustration
        section.banner
            ul
                li
                    +jpg('eva-fool1')
                li
                    +jpg('eva-fool2')
                li
                    +jpg('eva-fool3')
                li
                    +jpg('eva-fool4')
            .report
                a(href="http://yahoo-emarketing.tumblr.com/post/159257615841/41afd" target="_blank").news
                    +png('eva-fool-report1')
                p YAHOO!奇摩 網路行銷：
                    a(href="http://yahoo-emarketing.tumblr.com/post/159257615841/41afd" target="_blank") http://yahoo-emarketing.tumblr.com/post/159257615841/41afd
            .report
                a(href="http://news.tvbs.com.tw/life/717580" target="_blank").news
                    +png('eva-fool-report4')
                p TVBS新聞網：
                    a(href="http://news.tvbs.com.tw/life/717580" target="_blank") http://news.tvbs.com.tw/life/717580
            .report
                a(href="http://www.cna.com.tw/news/firstnews/201704015009.aspx" target="_blank").news
                    +png('eva-fool-report2')
                p 中央通訊社：
                    a(href="http://www.cna.com.tw/news/firstnews/201704015009.aspx" target="_blank") http://www.cna.com.tw/news/firstnews/201704015009.aspx

            .report
                a(href="http://www.chinatimes.com/realtimenews/20170401001233-260415" target="_blank").news
                    +png('eva-fool-report3')
                p 中時電子報：
                    a(href="http://www.chinatimes.com/realtimenews/20170401001233-260415" target="_blank") http://www.chinatimes.com/realtimenews/20170401001233-260415
        .post
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fevaairwayscorp.tw%2Fposts%2F770880023059183&width=500" width="100%" height="700"style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        +switchBox('tiger','#')